*{
    margin: 0;
    padding: 0;
}

.main-container{
    height: 100vh;
    width:100%;
    background-color:white;
    display: flex;
    flex-direction: column;
}




/* first page css start */
.header{
    height: 50px;
    width: 100%;
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 1px 0 1px skyblue;
}

.header .logo{
    margin-left: 60px;
    font-size: 2rem;
}

.header .side-link a,button{
    margin-right: 40px;
    text-decoration: none;
    font-size: 1.5rem;
}

.header .side-link a:hover{
   border-bottom: 2px solid orangered;
}

button{
    background-color: orangered;
    border: none;
}

.header .side-link  button{
    width: 90px;
}

.home-service{
    height: 35%;
    width: 100%;
    background-color: #242D62;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    color: white;   

    position: absolute;
    z-index:12;
}

.home-service .service-card{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 200px;
    gap: 20px;
    margin-top: 10px;
}

.home-service .service-card h2{
     text-align:center;
}

.home-service .service-card .cards{
    display: flex;
    justify-content: space-around;
}

.home-service .service-card .card{
    display: flex;
    flex-direction: column;
}

.home-service .service-card .card div{
    display: flex;
    margin-top: 10px;
}

.home-service .service-card .card div img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
/* home servie end  */
.home-img{
    height: 100%;
    width: 100%;
}
.home-img img{
    width: 100%;
    height: 85%;
    box-shadow: 1px 1px 5px skyblue;
}

.main-container .content{
    position: relative;
    bottom: 190px;
    width: 60%;
    justify-self: center;
    align-self: center;
    background-color: rgb(227, 245, 243);
    text-align: center;
    box-shadow: 1px 1px 5px rgb(221, 230, 236);
}

.main-container .content button{
    width: 250px;
    height: 45px;
    margin: 5px 0 5px 0;
}

.main-container .content h1,h3{
    margin-top: 4px;
    color: indigo;
}

.main-container .content h3 span{
    margin-top: 5px;
    color: rgb(74, 63, 156);
}
.main-container .content h3{
    font-size: 1rem;
}

.main-container .side-link .bars{
    display: none;
}

/* first page css end */



/* responsiveness for 1st page  start  */














/* second page css start */

.page2{
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page2 .heading{
    margin: 10px 0 5px 0;
    color: indigo;
    font-size: 1.5rem;
}

.page2 .heading h1{
    color: indigo;
}
.page2 .description{
    display: flex;
    width: 95%;
    height: 85%;
    justify-content: space-evenly;
}

.page2 .description .desc-img,.desc-contents{
    height: 300px;
    width: 40%;
    height: 90%;
    justify-self: center;
    align-self: center;
}

.page2 .description .desc-img img{
    height: 100%;
    width: 100%;
}

.page2 .description .desc-contents {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
}

.page2 .description .desc-contents .desc-content{
    border-radius: 12px;
    height: 20%;
    width: 70%;
    margin-top: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    text-align: justify;
    
}

.page2 .description .desc-contents .desc-content .content-text p{
   
    color: rgb(137, 98, 188);
}

.page2 .description .desc-contents .desc-content .content-img{
   height: 90%;
   width: 20%;
   margin-right: 10px;
}

.page2 .description .desc-contents .desc-content .content-text{
    height: 100%;
    width: 70%;
 }
.page2 .description .desc-contents .desc-content .content-img img{

    height: 100%;
    width: 90%;
    margin-right: 2px; 
    border-radius: 20px;
}




















/*page 3rd css*/

.page3{
    /* background-color: blue; */
    height: 100vh;
    width: 100%;
}

.page3 .page3-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35%;
    width: 100%;

}
.page3 .page3-head h1{
   color: indigo;
   font-size: 3rem;
}

.page3 .page3-head .head-cards{
    display: flex;
    justify-content: space-between;
    background-color: #F4F5F6;
    width: 100%;
    height: 100%;
}

.page3-head .head-cards .head-card{
    /* background-color: green; */
    height: 80%;
    width: 30%;
    justify-self: center;
    padding: 10px;
}

.page3-head .head-cards .head-card{
    text-align: center;
    margin: 1px;
}

.page3-body{
    height: 100%;
    margin-top: 5px;
}
.page3-body .body-img{
    height: 85%;
    background-image: url("https://people.com/thmb/H1U4y0JPsjGHu_78dhBFpcWGX00=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(941x626:943x628)/man-sleeps-with-french-bulldog-033125-11cf39a2d21f47489a79e89b67c001ef.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 60px 70px 0 150px;
}

.page3 .page3-body .body-card{
    height: 160px;
    width: 340px;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    left: 200px;
    border: 1px solid #817d7d;
    border-radius: 20px;
    text-align: justify;
    padding: 20px;
    text-align: justify;
}

.body-img h2{
    text-align: right;
    position: relative;
    top: 350px;
    right: 30px;
}





















/* page 4 css start*/

.page4 .upper-box{
    height: 40%;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.page4 .upper-box img{
    margin-top: 30px;
    height: 160px;
    width: 200px;
}

.page4 .lower-box{
    height: 60%;
    width: 100%;
    background-color: orangered;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.page4 .lower-box .heart{
    margin: 70px 0 0 100px;
    height: 500px;
    width: 500px;
}
.page4 .lower-box .heart img{
    border-radius: 50px
}

.page4 .lower-box .lower-content{
    height: 70%;
    width: 60%;
    margin: 30px 200px 0 50px;
    text-align: center;
    padding: 10px;
}

.lower-content h3,h1{
    color: white;
}

.page4 .lower-box .lower-content button{
  height: 50px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  border-style: none;
  margin-top: 80px;
}
























/* page 5 css start*/

.page5{
    color: indigo;
}

.page5 .page5-head h1{
    margin: 30px;
    text-align: center;
    color: indigo;
    font-size: 2.5rem;
}
.page5 .page5-cards{
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 50px;

}

.page5 .page5-cards .page5-card{
    background-color: white;
    text-align: left;
    padding: 10px;
    width: 28%;
    height:40%;
    border: 2px solid rgb(184, 174, 174);
    border-radius: 12px;
    transition: border-color 0.5s ease; 
}
.page5 .page5-cards .page5-card:hover{
    border: 2px solid orangered;
}

.page5 .page5-cards .page5-card img{

    height: 100px;
    width: 100px;
   
}
























/* footer's css start  */

.footer{
    display: flex;
    flex-direction: column;
}

.footer .upper-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 330px;
    width: 100%;
    background-color: #18273C;
    color: #FFFFFF;
}

.footer .upper-footer .footer-card{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 20%;
    margin-top: 20px;
    padding: 5px;
}

.footer .upper-footer .footer-card .footer-icons{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 40%;
   margin-top: 20px;
   height: 50px;
}


 .footer .upper-footer .footer-card .footer-icons a i{
    font-size: 1.6rem;
 }
 .fa-facebook{
    color: blue;
 }
.fa-square-instagram{
    color: rgb(194, 33, 103);
}
.fa-youtube{
    color: red;
}

.footer .upper-footer .footer-card a{
    margin-top: 5px;
   color: #FFFFFF;
   text-decoration: none;
}

.footer .lower-footer{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242D62;
}


.footer .lower-footer a{
  margin: 0 50px;
  color: #FFFFFF;
  text-decoration: none;
}














